{% extends 'products/base.html' %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<div class="container">
    <div class="row">
    {% include 'includes/dashboard_sidebar.html' %}
    <main class="col-md-9 ">
        <article class="card bg-dark text-white">
        <header class="card-header">
            <strong class="d-inline-block mr-3">Change Your Password</strong>
        </header>
        <div class="card-body bg-dark text-white">
            {% include 'includes/alert.html' %}
          <div class="row"> 
              <form action="{% url 'change_password' %}"  method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <strong class="d-inline-block mr-3">Current Password</strong>
                    <input type="password" name="current_password" placeholder="Current Password" class="form-control mt-2 bg-dark text-white" style="border-color:#a32cc4" required>
                    {% comment %} {{profile_form.address_line_1}} {% endcomment %}
                  </div>
                  <div class="col-12 mt-3">
                    <strong class="d-inline-block mr-3">New Password</strong>
                    <input type="password" name="new_password" placeholder="Create New Password" class="form-control mt-2 bg-dark text-white" style="border-color:#a32cc4" required>
                    {% comment %} {{profile_form.address_line_2}} {% endcomment %}
                  </div>
                  <div class="col-12 mt-3">
                    <strong class="d-inline-block mr-3">Confirm New Password</strong>
                    <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control mt-2 bg-dark text-white" style="border-color:#a32cc4" required>
                    {% comment %} {{profile_form.address_line_2}} {% endcomment %}
                  </div>
                </div>
                <div class="d-grid gap-2 mt-3">
                  <input type="submit" value="Save" class="btn" style="background-color:#a32cc4;color:white;">
                </div>
              </form>
            </div>
          </div> <!-- row.// -->
          <br>
        </div> <!-- card-body .// -->
        </article> <!-- order-group.// --> 
    </main>
</div> <!-- row.// -->
</div>


</section>
{% endblock content %}