{% extends 'accounts/base.html' %}
{% block title %}Password Change{% endblock title %}

{% block formtitle %}Forget Password{% endblock formtitle %}
{% block content %}
<form  method="POST">
  {% csrf_token %}            
  <div class="input-boxes">
    <div class="input-box">
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="Username" name="username" required>
    </div>
    {% comment %} <div class="input-box">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Confirm Your Password" name="password2" required>
    </div>
    <div class="button input-box">
      <input type="submit" value="Submit">
    </div>{% endcomment %}
    <div class="text sign-up-text">Back To Login?<a href="{% url 'loginPage' %}"> <label>click</label></a></div>
  </div>
</form> 
{% endblock %}