{% extends 'accounts/base.html' %}
{% block content %}

<div style="width:20rem;height:24rem;border-radius:0.2rem;" class="container">
  <br>
  <div class="forms">
    {% include 'includes/alert.html' %}
    <div class="form-content">
      <div class="login-form">
        <div style="width:17rem;" class="title">Forgot Password</div>
        <br>
        <form method="POST">
          {% csrf_token %}            
            <div style="width:16rem;" class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Enter Your Email" name="email" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Submit">
            </div>
            <br/>
            <div style="width:17rem;text-align:center;" class="text"><a href="{% url 'loginPage' %}"> Back To Login?</a></div>
        </form>
  </div>      
</div>
</div>
{% endblock content %}