{% extends 'accounts/base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
{% load static %}
<div class="container"> 
  <div class="cover">
     <div class="front">
      <img src="{{login_image.url}}" width="auto" height="auto" alt="Game Theme Image">
      <div class="text">
        <span class="text-1">Every new friend is a <br> new adventure</span>
        <span class="text-2">Let's get connected</span>
      </div>
    </div>
  </div> 
  <div class="forms">
    
      {% include 'includes/alert.html' %}
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          {% if request.GET.command == 'verification' %}
            <div class="container mx-auto alert alert-success" role="alert">
            Thank You For Registering With Us, We Have Sent You a Verification Email To Your Email Address <a href="https://mail.google.com/">{{ request.GET.email }}</a> <br>Please Verify!
            </div>
          {% endif %}
          <form action="{% url 'loginPage' %}" method="POST">
            {% csrf_token %}            
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter Your Email" name="email" required autofocus>
              </div>
              <div class="input-box">
                <i class="fas fa-unlock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="text"><a href="{% url 'forgotPassword' %}">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account?<a href="{% url 'signUpPage' %}"> <label>Sigup now</label></a></div>
            </div>
          </form>
    </div>      
  </div>
  </div>
  </div>
</div>
{% endblock content %}
