{% extends 'accounts/base.html' %}
{% block content %}

<div style="width:20rem;height:24rem;border-radius:0.2rem;" class="container">
  <br>
  <div class="forms">
    {% include 'includes/alert.html' %}
    <div class="form-content">
      <div class="login-form">
        <div style="width:17rem;" class="title">Reset Password</div>
        <br>
        <form method="POST">
          {% csrf_token %}            
            <div style="width:16rem;" class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="password" placeholder="Create Password" name="password" required>
            </div>
            <div style="width:16rem;" class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Reset">
            </div>
        </form>
  </div>      
</div>
</div>
{% endblock content %}