{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  <!-- Custom CSS File -->
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
  
  
  
  <!-- Font Awesome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--  Paypal Script -->
  <script src="https://www.paypal.com/sdk/js?client-id=AcH2xfnDjhIMrmf4uzcb-dPWWeZIQAyAA4eA0DZdZMH87yN4K8N90NBFyAHypx42ozCU2rbJ0btEf3o4&currency=USD"></script>
  
</head>
<body>
 
<header style="position:sticky;height:6rem;" id="header" class="fixed-top bg-black">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo mb-3"><a href="{% url 'homePage' %}">Game Py</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      {% comment %} <a href="index.html" class="logo"><img src="www.google.com" alt="" class="img-fluid"></a> {% endcomment %}
      <nav id="navbar" class="navbar">
        <ul>
          <li>
              <form class="d-flex search" action="{% url 'search' %}" method='GET'>
                <input class="form-control ms-3 me-1 mb-3 text-danger" type="search" placeholder="Search" aria-label="Search" name="keyword" style="background-color:transparent;border-color:#A32CC4;color:#A32CC4;">
                <button class="btn mb-3" type="submit" style="background-color:#A32CC4;color:white;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
              </form>
          </li> 
          <li><a class="nav-link scrollto active mb-3" href="{% url 'homePage' %}">Home</a></li>
          <li class="dropdown mb-3"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for category in links  %}
              <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown mb-3"><a href="#">{% if user.is_authenticated %}<span>{{user.first_name|capfirst}}</span>{% else %}<span>Account</span>{% endif %}<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>{% if user.is_authenticated %}  <a href="{% url 'dashboard' %}">Dashboard</a>{% else %}<a href="{% url 'signUpPage' %}">Sign Up</a>{% endif %}</li>
              {% if user.is_authenticated %}
              {% comment %} <li><a href="#">Wishlist</a></li> {% endcomment %}
              {% endif %}
              <li>{% if user.is_authenticated %}<a href="{% url 'logout' %}" onclick="return confirm('Are You Sure Want Log Out')">Log Out</a>{% else %}<a href="{% url 'loginPage' %}">Log In</a>{% endif %}</li>
            </ul>
          </li>
          {% comment %} <a href="{% url 'cart' %}" class="widget-header">
           <div class="icon icon-lg"><i class="bi bi-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">0</span> 
            <li>Cart</h6>
          </a>  {% endcomment %}
          <li class="mb-3"><a href="{% url 'cart' %}">Cart&nbsp;<span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">{{cart_count}}</span></a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>

    {% comment %} <form class="d-flex search" action="{% url 'search' %}" method='GET'>
        <input class="form-control me-2 ms-4 mt-3" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn me-3 mt-3" type="submit" style="border-color:#A32CC4;color:#A32CC4;">Search</button>
      <br>
      <button class="btn me-5 mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="background-color:#A32CC4;color:white;">Filter</button>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          {% comment %} <div class="card"> {% endcomment %}
              {% comment %} <article class="filter-group"> {% endcomment %}
                  {% comment %} <header class="card-header">
                      <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                          <i class="icon-control fa fa-chevron-down"></i>
                          <h6 class="title">Sizes </h6>
                      </a>
                  </header> {% endcomment %}
                  {% comment %} <div class="filter-content collapse show" id="collapse_4" style="">
                      <div class="card-body">
                        <label class="checkbox-btn">
                          <input type="checkbox">
                          <span class="btn btn-light"> XS </span>
                        </label>
          
                        <label class="checkbox-btn">
                          <input type="checkbox">
                          <span class="btn btn-light"> SM </span>
                        </label>
          
                        <label class="checkbox-btn">
                          <input type="checkbox">
                          <span class="btn btn-light"> LG </span>
                        </label>
          
                        <label class="checkbox-btn">
                          <input type="checkbox">
                          <span class="btn btn-light"> XXL </span>
                        </label>
                  </div><!-- card-body.// --> {% endcomment %}
                  {% comment %} </div> {% endcomment %}
              {% comment %} </article> <!-- filter-group .// -->
              <br/>
              <br/> {% endcomment %}
              {% comment %} <article class="filter-group">
                  <header class="card-header">
                      <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                          <i class="icon-control fa fa-chevron-down"></i>
                          <span class="title">Price range </span>
                      </a>
                      <span class="title">Price range </span>
                  </header>
                  <div class="filter-content collapse show" id="collapse_3" style="">
                      <div class="card-body">
                          
                          <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Min</label>
                            <!-- <input class="form-control" placeholder="$0" type="number"> -->
                                <select class="mr-2 form-control">
                                  <option value="0">$0</option>
                                  <option value="50">$50</option>
                                  <option value="100">$100</option>
                                  <option value="150">$150</option>
                                  <option value="200">$200</option>
                                  <option value="500">$500</option>
                                  <option value="1000">$1000</option>
                              </select>
                          </div>
                          <div class="form-group text-right col-md-6">
                            <label>Max</label>
                                <select class="mr-2 form-control">
                                  <option value="50">$50</option>
                                  <option value="100">$100</option>
                                  <option value="150">$150</option>
                                  <option value="200">$200</option>
                                  <option value="500">$500</option>
                                  <option value="1000">$1000</option>
                                  <option value="2000">$2000+</option>
                              </select>
                          </div>
                          </div> <!-- form-row.// -->
                          <br/>
                          <button class="btn btn-block btn-primary">Apply</button>
                      </div><!-- card-body.// -->
                  </div>
              </article> <!-- filter-group .// -->
          </div> <!-- card.// -->
      </div>
    </div>
    </form> {% endcomment %}
  </header><!-- End Header -->
  <section class="section-pagetop bg"> 
    <div class="container">
      <h2 class="title-page text-white"></h2>
      {% block content %}
  
      {% endblock content %}
    </div>
    
  </section> 


   {% include 'includes/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  {% comment %} <script type="text/javascript">
    window.setTimeout(function () {
      location.href = "{% url 'product_detail' %}";
  }, 5000); // refresh/redirect after 5 seconds.
  </script> {% endcomment %}
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
