{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="This is a Demo Website Of Game and its accessories selling" name="description">
  <meta content="thousi,thouseef,thousiii_731,THOUSEEF HAMZA TP,thousi731,THOUSI731,Game Py,Game Website,Game Selling Website " name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  <!-- Custom CSS File -->
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
  
  <!-- JQuery File -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <!-- Font Awesome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--  Paypal Script -->
  <script src="https://www.paypal.com/sdk/js?client-id=AcH2xfnDjhIMrmf4uzcb-dPWWeZIQAyAA4eA0DZdZMH87yN4K8N90NBFyAHypx42ozCU2rbJ0btEf3o4&currency=USD"></script>
  
</head>
<body>
 
<header style="position:sticky;height:6rem;" id="header" class="fixed-top bg-black">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo mb-3"><a href="{% url 'homePage' %}">Game Py</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
              <form class="d-flex search" action="{% url 'search' %}" method='GET'>
                <input class="form-control ms-3 me-1 mb-3 text-danger" type="search" placeholder="Search" aria-label="Search" name="keyword" style="background-color:transparent;border-color:#A32CC4;color:#A32CC4;">
                <button class="btn mb-3" type="submit" style="background-color:#A32CC4;color:white;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
              </form>
          </li> 
          <li><a class="nav-link scrollto active mb-3" href="{% url 'homePage' %}">Home</a></li>
          <li class="dropdown mb-3"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for category in links  %}
              <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown mb-3"><a href="#">{% if user.is_authenticated %}<span>{{user.first_name|capfirst}}</span>{% else %}<span>Account</span>{% endif %}<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>{% if user.is_authenticated %}  <a href="{% url 'dashboard' %}">Dashboard</a>{% else %}<a href="{% url 'signUpPage' %}">Sign Up</a>{% endif %}</li>
              {% if user.is_authenticated %}
              {% comment %} <li><a href="#">Wishlist</a></li> {% endcomment %}
              {% endif %}
              <li>{% if user.is_authenticated %}<a href="{% url 'logout' %}" onclick="return confirm('Are You Sure Want Log Out')">Log Out</a>{% else %}<a href="{% url 'loginPage' %}">Log In</a>{% endif %}</li>
            </ul>
          </li>
          <li class="mb-3"><a href="{% url 'cart' %}">Cart&nbsp;<span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">{{cart_count}}</span></a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>

    
  </header><!-- End Header -->
  <section class="section-pagetop bg"> 
    <div class="container">
      <h2 class="title-page text-white"></h2>
      {% block content %}
  
      {% endblock content %}
    </div>
    
  </section> 


   {% include 'includes/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
