{% extends 'products/base.html' %}
{% block title %}GamePy - Checkout{% endblock title %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <aside class="col-lg-6">
                <div style="border-radius:0px;" class="card bg-dark"> 
                   <div class="card-body bg-dark">
                     <h4 class="card-title ms-mt-2 text-muted">Billing Address</h4>
                     <form action="{% url 'place_order' %}" method="POST">
                        {% csrf_token %}
                        <div class="row mt-3">
                            <div class="col">
                              <!-- <label class="text ms-1 mb-1"for=""> <strong> First Name</strong></label> -->
                              <input type="text" name="first_name" class="form-control bg-dark" placeholder="First Name" style="border-color:#a32cc4;" required>
                            </div>
                            <div class="col">
                              <input type="text" name="last_name" class="form-control bg-dark" placeholder="Last Name" style="border-color:#a32cc4;" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                              <input type="email" name="email" class="form-control bg-dark" placeholder="Enter Your Email" style="border-color:#a32cc4;" required>
                            </div>
                            <div class="col">
                              <input type="text" name="phone" class="form-control bg-dark" placeholder="Phone Number" style="border-color:#a32cc4;" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                              <input type="text" name="address_line_1" class="form-control bg-dark" placeholder="Address Line 1" style="border-color:#a32cc4;" required>
                            </div>
                            <div class="col">
                              <input type="text" name="address_line_2" class="form-control bg-dark" placeholder="Address Line 2" style="border-color:#a32cc4;">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                              <input type="text" name="city" class="form-control bg-dark" placeholder="City" style="border-color:#a32cc4;" required>
                            </div>
                            <div class="col">
                              <input type="text" name="state" class="form-control bg-dark" placeholder="State" style="border-color:#a32cc4;" required>
                            </div>
                            <div class="col">
                                <input type="text" name="country" class="form-control bg-dark" placeholder="Country" style="border-color:#a32cc4;" required>
                            </div>
                        </div>
                        <div class="row m-1 mt-4" >
                            <textarea name="order_note" rows="3" placeholder="Order Note" class="form-control bg-dark" style="border-color:#a32cc4;"></textarea>
                        </div>
                   </div> 
                </div>
            </aside>
            <aside class="col-lg-6">
                {% comment %} <div class="card mb-3" style="border-radius:0px;">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Have coupon?</label>
                                <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                            </div>
                        </form>
                    </div>
                </div> {% endcomment %}
                <div class="card bg-dark" style="border-radius:0px;">
                    <div class="card-body bg-dark">
                        <div class="table-responsive bg-dark">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="160">Quantity</th>
                                        <th scope="col" width="100">Price</th>
                                        <th scope="col" class="text-right d-none d-md-block" width="40"></th>
                                    </tr>
                                </thead>
                                {% for cart_item in cart_items %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><a href="{{cart_item.product.get_url}}" ><img src="{{ cart_item.product.images.url}}" class="img-sm"></a></div>
                                                <figcaption class="info"> <a href="{{cart_item.product.get_url}}" class="title text-white" data-abc="true">{{ cart_item.product.product_name }}</a>
                                                    {% comment %} <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p> {% endcomment %}
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> 
                                            <div class="d-grid justcol text-white"> 
                                                <label for="">{{cart_item.quantity}}</label>
                                            </div>
                                        </td> 
                                        <td>
                                            <div class="price-wrap"> <var class="price text-white">&dollar; {{ cart_item.sub_total }}</var> <small class="text-muted">&dollar; {{ cart_item.product.price }} each</small> </div>
                                        </td>
                                        {% comment %} <td class="text-right d-none d-md-block"><a href="{% url 'remove_cart_item' cart_item.product.id %}" class="btn btn-light" data-abc="true"> Remove</a> </td> {% endcomment %}
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="d-grid gap-2">  
                            <button type="submit" name="submit"  class="btn text-white"  style="border-radius:0px;background-color:#A32CC4">Place Order</button>
                        </div> 
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock content %}


