{% extends 'products/base.html' %}
{% load static %}
{% block title %}GamePy - Product Details{% endblock title %}
{% block content %}    
<hr/ class="text-white">
<div class="card mb-3" style="background-color:#1d1d1d;border-radius:0px;">
    <div class="row g-0">
      <div class="col-sm-12 col-lg-4">
        <img src="{{ single_product.images.url }}" width="100%" height="100%" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-sm-12 col-lg-8">
        <div class="card-body">
          <h1 style="font-familt:arial-black" class="card-title text-white ms-4 mt-4">{{ single_product.product_name }}</h1>
          <div class="ms-4 text-white">
            <i class="{% if single_product.averageReview < 0.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100"></i>
            <i class="{% if single_product.averageReview < 1.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 2 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
            <i class="{% if single_product.averageReview < 2.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 3 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
            <i class="{% if single_product.averageReview < 3.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 4 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
            <i class="{% if single_product.averageReview < 4.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 5 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
            <span> &nbsp;{{single_product.countReview}}  reviews</span>
          </div> 
          <p class="card-text"><h3 class="text-white ms-4"><b>&dollar; {{ single_product.price }}</b></h3></p>
          {% comment %} <h6>Description</h6> {% endcomment %}
          <p class="card-text text-muted ms-4" style="color:red;">{{ single_product.description|linebreaksbr }}</p>  
          {% if single_product.stock <= 0 %}
            <h5 class="text-danger ms-4">Out Of Stock</h5>
          {% else %}
            {% if in_cart %}
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <a href="#"  class="btn text-white btn-success w-100" type="button">Added to Cart &nbsp;&nbsp; <i class="fa fa-check"></i></a>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <a href="{% url 'cart' %}" style="background-color:#A32CC4;" class="btn text-white w-100" type="button">View Cart &nbsp;&nbsp; <i class="fa fa-eye"></i></a>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="container">
                <div class="  row">
                  <div class="col-12">
                    <a href="{% url 'add_cart' single_product.id %}" style="background-color:#A32CC4;" class="btn text-white w-100" type="button">Add to Cart</a>
                  </div>
              </div>
            {% endif %}
          {% endif %}
          <br/>
        </div>
      </div>
    </div>
<div class="card bg-dark text-white mt-3">
  <div class="card-body p-4">
        <h5>Write Your Reviews</h5>
        {{single_product.averageReview}}
        Rate Product
    <form action="{% url 'submit_review' single_product.id %}" method="POST" >
      {% csrf_token %}
      <div class="rate">
        <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
      </div>
      <div>
        Review Title
        <input type="text" class="form-control bg-dark text-white" name="subject">
        Review
        <textarea name="review" id="" rows="4" class="form-control bg-dark text-white "></textarea>
        <br/>
        {% if user.is_authenticated %}
          {% if orderproduct %}
            <input type="submit" value="Submit Review" class="form-control btn text-white" style="background-color:#a32cc4;">
          {% else %}
            <p>Product Can't Review Without Purchased</p>
          {% endif %}
        {% else %}
        <p>You Must Be Logged In To Post Review. <span><a class="text-info" href="{% url 'loginPage' %}">Login Now</a></span></p>
        {% endif %}
      </div>
      <br>
      <br>
      {% include 'includes/alert.html' %}
    </form>
  </div>
</div>  
{% if reviews %}
<div class="card bg-dark text-white mt-3">
  <div class="card-body p-4">
    <h4 class="mb-0">Customer Reviews</h4>
    <span>
      <i class="{% if single_product.averageReview < 0.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100"></i>
      <i class="{% if single_product.averageReview < 1.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 2 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
      <i class="{% if single_product.averageReview < 2.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 3 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
      <i class="{% if single_product.averageReview < 3.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 4 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
      <i class="{% if single_product.averageReview < 4.5 %} fa-regular fa-star {% elif single_product.averageReview >= 0.5 and single_product.averageReview < 5 %} fa-solid fa-star-half-stroke {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
      <span> &nbsp;{{single_product.countReview}}  reviews</span>
    </span>
    <p class="fw-light mb-4 pb-2">Realtime Review By Users</p>
    
    
{% for review in reviews %}
    <div class="d-flex flex-start">
      <img class="rounded-circle shadow-1-strong me-2"
        src="{{user_profile.profile_picture.url}}" alt="avatar" width="60"
        height="60" />
      <div>
        <h6 class="fw-bold mb-1">{{review.user.first_name|capfirst}} {{review.user.last_name|capfirst}}</h6>
        <div class="d-flex align-items-center mb-3">
          <p class="mb-0">
            {{review.updated_at}}
            <br>
            <span>
              <i class="{% if review.rating == 0.5 %} fa-solid fa-star-half-stroke {% elif review.rating < 1 %} fa-regular fa-star {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100"></i>
              <i class="{% if review.rating == 1.5 %} fa-solid fa-star-half-stroke {% elif review.rating < 2 %} fa-regular fa-star {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
              <i class="{% if review.rating == 2.5 %} fa-solid fa-star-half-stroke {% elif review.rating < 3 %} fa-regular fa-star {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
              <i class="{% if review.rating == 3.5 %} fa-solid fa-star-half-stroke {% elif review.rating < 4 %} fa-regular fa-star {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
              <i class="{% if review.rating == 4.5 %} fa-solid fa-star-half-stroke {% elif review.rating < 5 %} fa-regular fa-star {% else %} fa-solid fa-star {% endif %}" style="color: #ffe100;"></i>
            </span>
          </p>
        </div>
        <h6>{{review.subject}}</h6>
        <p class="mb-0">
          {{review.review}}
        </p>
      </div>
    </div>
    <br >
    <br>
{% endfor %}        
  </div>
</div>
{% endif %}
{% endblock content %}