{% extends 'products/base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block content %}    
<hr/ class="text-white">
<div class="card mb-3" style="background-color:#1d1d1d;border-radius:0px;">
    <div class="row g-0">
      <div class="col-6">
        <img src="{{ single_product.images.url }}" class="img-fluid" alt="...">
      </div>
      <div class="col-6">
        <div class="card-body">
          <h1 style="font-familt:arial-black" class="card-title text-white ms-4 mt-4">{{ single_product.product_name }}</h1>
          <p class="card-text"><h3 class="text-white ms-4"><bold>&#8377; {{ single_product.price }}</bold></h3></p>
          {% comment %} <h6>Description</h6> {% endcomment %}
          <p class="card-text text-muted ms-4" style="color:red;">{{ single_product.description }}</p>  
          {% comment %} <a href="./product-detail.html" class="btn  btn-primary ms-4"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i></a> {% endcomment %}
          {% if single_product.stock <= 0 %}
            <h5 class="text-danger ms-4">Out Of Stock</h5>
          {% else %}
            {% if in_cart %}
              <div class="d-grid gap-2 ms-4 me-4">
              <a href="#"  class="btn text-white btn-success" type="button">Added to Cart &nbsp;&nbsp; <i class="fa fa-check"></i></a>
              <a href="{% url 'cart' %}" style="background-color:#A32CC4;" class="btn text-white" type="button">View Cart &nbsp;&nbsp; <i class="fa fa-eye"></i></a>
              </div>
            {% else %}
              <div class="d-grid gap-2 ms-4 me-4">
                <a href="{% url 'add_cart' single_product.id %}" style="background-color:#A32CC4;" class="btn text-white" type="button">Add to Cart</a>
                {% comment %} <a href="{% url 'checkout' %}" style="color:#A32CC4;border-color:#A32CC4;" class="btn mt-2" type="button">Buy Now</a> {% endcomment %}
              </div>
            {% endif %}
          {% endif %}
          <br/>
        </div>
      </div>
    </div>
    {% comment %} <header class="section-heading ms-5 mt-5">
      <h3 class="card-text text-white">Customer Reviews </h3>  
    </header>
    <br/>
      <article class="box mb-3 ms-5 me-5" style="border:1px solid #1d1d1d">
          <div class="icontext w-100">
              <img src="{% static 'assets/img/backImg.jpg' %}" class="img-xs icon rounded-circle" style="width:3rem;height:3rem;"> <h6 class="mb-1 text-primary mt-4" style="display:inline;">Mike John </h6><span class="date text-muted float-md-right">24.04.2020 </span>  
          </div> <!-- icontext.// -->
          <div class="mt-3 ">
              <p class="card-text text-white">
                  Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquipfghjjjjjjjjjjjjjjjjjjjjjjjjjj
              </p>	
          </div>
      </article> {% endcomment %}
</div>
<div class="card bg-dark text-white mt-3">
  <div class="card-body p-4">
    <form action="{% url 'submit_review' single_product.id %}" method="POST">
      {% csrf_token %}
      <h5>Write Your Reviews</h5>
      <label>Rate Product<label>
      <div class="rate">
        <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>


      </div>
      <div>
        
        Review Title
        <input type="text" class="form-control bg-dark text-white" name="subject">
        Review
        <textarea name="review" id="" rows="4" class="form-control bg-dark text-white " ></textarea>
        <br/>
        <input type="submit" value="Submit Review" class="form-control btn btn-primary" >
      </div>
    </form>
    <br>
    <h4 class="mb-0">Customer Reviews</h4>
    <p class="fw-light mb-4 pb-2">Realtime Review By Users</p>
    <div class="d-flex flex-start">
      <img class="rounded-circle shadow-1-strong me-3"
        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
        height="60" />
      <div>
        <h6 class="fw-bold mb-1">Maggie Marsh</h6>
        <div class="d-flex align-items-center mb-3">
          <p class="mb-0">
            March 07, 2021
            {% comment %} <span class="badge bg-primary">Pending</span> {% endcomment %}
          </p>
          {% comment %} <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
          <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
          <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a> {% endcomment %}
        </div>
        <p class="mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it.
        </p>
      </div>
    </div>
  </div>
  <hr class="my-0" />
</div>  
{% endblock content %}
<section style="background-color: #eee;">
   <div class="container my-5 py-5">
    <div class="d-flex flex-start">
      <div class="col-12">
        <div class="card">
           <div class="card-body">
            <div class="d-flex flex-start align-items-center">
          <div class="card-footer" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                height="40" />
              <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" rows="4"
                  style="background: #fff;"></textarea>
                <label class="form-label" for="textAreaExample">Message</label>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>