/* Hide Radion Button */

.rate > input{
    display: none;
}
.rate{
    display: inline-block;
    border: 0;
}
.rate > label{
    float: right;
}
/* Showing Stars */
.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;        
}

/* Half Star */

.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click And Hover */

input:checked ~ label,label:hover ~ label{
    color: #ffe100;
}

/* Hover HighLight */
input:checked + label:hover,input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #cc9000; 
}

.rating-star i{
    color:#ffb503;
}