<aside class="col-md-3">
    <div class="card" style="border-radius:0px;">
        <div class="card-body">
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <a href="#"><span class="text text-dark">{{user.first_name|capfirst}} {{user.last_name|capfirst}}</span></a>
          </div>
        </div>
    </div>    
    <br>
    <ul class="list-group"  style="border-radius:0px;">
        <a class="list-group-item" {% if '/dashboard/' in request.path %} style="background-color:#A32CC4;color:white;"  {% endif %} href="#"> Dashboard</a>
        <a class="list-group-item" href="#"> My Orders </a>
        <a class="list-group-item" {% if '/edit_profile/' in request.path %} style="background-color:#A32CC4;color:white;"  {% endif %} href="{% url 'edit_profile' %}"> Edit Profile </a>
        <a class="list-group-item" href="#"> Change Password </a>
    </ul>
    <a class="btn btn-light d-grid mt-1" href="{% url 'logout' %}"  style="border-radius:0px;"><i class="fa fa-power-off"><span class="text"> Log out</span></i></a> 
</aside>