  <!-- ======= Footer ======= -->
  <footer id="footer" class="bg-dark">

    <div class="footer-top bg-dark">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="text-white">Game Py</h3>
            
            <p class="text-white">
              Bridgeon Solution<br>
              Kakkancherry, Kinfra<br>
              Kerala,India<br><br>
              <strong>Phone:</strong>+91 8848285720<br>
              <strong>Email:</strong>thousithouseef731@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4 class="text-white">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'homePage' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'edit_profile' %}">Edit Profile</a></li>
              {% comment %} <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cart' %}">Cart</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> {% endcomment %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="text-white">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              {% comment %} <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> {% endcomment %}
            </ul>
          </div>

          {% comment %} <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> {% endcomment %}

        </div>
      </div>
    </div>
    <hr class="text-white"/>
    <div class="container d-md-flex py-4 bg-dark">
      
      <div class="me-md-auto text-center text-md-start bg-dark">
        <div class="copyright text-white">
          &copy; Copyright <strong><span>Game Py</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a class="text-white">Thouseef Hamza T P</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        {% comment %} <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> {% endcomment %}
        {% comment %} <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> {% endcomment %}
        <a href="https://www.instagram.com/thousiii_731/" class="instagram"><i class="bx bxl-instagram"></i></a>
        {% comment %} <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> {% endcomment %}
        <a href="https://www.linkedin.com/in/thousi-thouseef/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  <!-- </footer>End Footer