<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'homePage' %}">Game Py</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="'assets/img/logo.png'" alt="" class="img-fluid"></a>-->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'homePage' %}">Home</a></li>
        <li class="dropdown"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for category in links  %}
            <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown"><a href="#">{% if user.is_authenticated %}<span>{{user.first_name}}</span>{% else %}<span>Account</span>{% endif %}<i class="bi bi-chevron-down"></i></a>
          <ul>
            <li>{% if user.is_authenticated %}<a href="#">Profile</a>{% else %}<a href="{% url 'signUpPage' %}">Sign Up</a>{% endif %}</li>
            <li>{% if user.is_authenticated %}<a href="{% url 'logout' %}">Log Out</a>{% else %}<a href="{% url 'loginPage' %}">Log In</a>{% endif %}</li>
          </ul>
        </li>
        {% comment %} <a href="{% url 'cart' %}" class="widget-header">
         <div class="icon icon-lg"><i class="bi bi-cart"></i></div>
          <span class="badge badge-pill badge-danger notify">0</span> 
          <li>Cart</h6>
        </a>  {% endcomment %}
        <li><a href="{% url 'cart' %}">Cart</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

 