
<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="#hero">HOME</a></li>
      <li><a class="nav-link scrollto" href="#about">LAPTOPS</a></li>
      <li><a class="nav-link scrollto" href="#services">ACCESSORIES</a></li>
      <li><a class="nav-link scrollto " href="#portfolio">ABOUT US</a></li>
      <li><a class="nav-link scrollto" href="#team">CONTACT</a></li>
      <li><a href="">Blog</a></li>

      
      <li><a href="{% url 'logout' %}"><span>Log Out</span> <i class="bi bi-chevron-down"></i></a></li>
      
      
        {% comment %} <ul>
          {% comment %} <li><a href="#">Log Out</a></li> {% endcomment %}
          {% comment %} <li><a href="#">Log In</a></li> 
        </ul> {% endcomment %}
      </li>
      <li><a class="nav-link scrollto" href="#contact">Cart</a></li>
      <li><a class="nav-link scrollto" href="">Account</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->